
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #8B1212;
  }

.contenedor-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(222, 222, 222);
}

.logo {
    margin-left: -70px;
    border-radius: 50%;
}

.fuente {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(222, 222, 222);
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 100;
    left: 100;
    height: 9vh;
}

.text { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.iconify-icon {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.iconify-icon:huver {
    color: #fff;
}

.main{
    width: 100%;
    height: 80vh;
}

.conainer-small-cards{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    gap: 30px 5px
}
.tarjeta{
    background-color: blueviolet;
    width: 42%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.pic-small{
    width: 150px;
}
.textAPI{
    transform: rotateY(180deg);
    margin-top: 10px;
    height: 19%;
    width: 60%;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    border-radius: 5px;
    background-color: aquamarine;
    
    
}

.button{
    margin-top: 5px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(235, 79, 79);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;

}

  /* -----------------ROTATE---------------------- */

  .animation {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }

  /* -----------------@MEDIA---------------------- 
  @media (max-width: 1280px)
  @media (max-width: 1024px)
  @media (max-width: 768px)
  @media (max-width: 680px)
*/

@media (min-width: 680px) {
    .tarjeta{
        width: 42%;
        height: 35vh;  
    }
    .pic-small{
        width: 190px;}

    .textAPI{
    transform: rotateY(180deg);
    height: 16%;
    width: 40%;
    font-size: x-larger;}  
}

@media (min-width: 768px) {
    .tarjeta{
        width: 45%;
        height: 49vh;  
    }
    .pic-small{
        width: 250px;}

    .textAPI{
    margin-top: 25px;
    height: 17%;
    width: 50%;
    font-size: x-large;}         
}

@media (min-width: 1024px) {
    .tarjeta{
        width: 45%;
        height: 58vh;  
    }
    .pic-small{
        width: 330px;}

    .textAPI{
        height: 20%;
        width: 50%;
        font-size: xx-large;}

}
@media (min-width: 1280px) {
    .tarjeta{
        width: 500px;
        height: 500px;  
    }
    .pic-small{
        width: 370px;}
    .textAPI{
        margin-top: 10px;
        height: 20%;
        width: 55%;
        font-size: xx-large;}
}


