.contenedor-nav {
    display: flex;
    background-color: rgb(243, 134, 134);
    width: 100%;
    height: 20%;
}

.logo {
    width: 50px;
    border-radius: 50%;

}

.fuente {
    margin-top: 10px;


}